/* General */
html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.App {
  margin: 0;
}

::selection {
  /* background: #ffb7b7; */
  background: rgba(92, 87, 78, 0.5)
}

.flex {
  display: flex;
}

.full-size {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.center-horizontal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.center-vertical {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.black {
  background: black;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.particles {
  padding: 0;
  margin: 0;
  width: 100%;
  height:100vh;
  position: absolute;
  z-index: -1;
}

.relative {
  position: relative;
  height: 100vh;
}

.header {
  font-family: 'Rajdhani', sans-serif;
  font-size: 8vh;
  margin-top: 100px;
}


.white {
  color: white;
}

.dark {
  color: black;
  border-bottom: 2px solid black;
  background: white;
}

/* ImageMain */
.main-image {
  width: calc(18em + 18vw);
  position: fixed;
  bottom: 0;
  margin: 0;
}

/* Navbar */
.navbar-container {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.navbar {
  margin: 0;
  height: 10vh;
  width: 100%;
  position: fixed;
}

.logo-container {
  margin-right: calc(0.82em + 0.22vw);
  /* padding-left: calc(0.82em + 0.22vw); */
  position: relative;
  font-family: 'Unica One', cursive;
  z-index: 999;
}

.logo {
  font-size: calc(1.5em + 1.5vw);
}

.register-container {
  margin: 0;
  position: relative;
  height: 6vh;
  width: calc(3em + 3vw);
  z-index: 999;
}

.register {
  margin-top: 4px;
  font-size: calc(0.82em + 0.22vw);
  cursor: pointer;
  z-index: 999;
}

.register:after {    
  background: none repeat scroll 0 0 transparent;
  position: relative;
  bottom: 0;
  margin-top: 4px;

  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: relative;
  background: #ff0066;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.register:hover:after { 
  width: 100%;
  left: 0;
}

.search-icon {
  cursor: pointer;
  z-index: 999;
}

/* Sidebar */
.sidebar {
  margin: 0;
  position: fixed;
  padding-right: 40px;
  width: 98%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;  
}

.list-item {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(2.3em + 2.3vw);
  color: white;
  cursor: pointer;
  transition: font-size 0.2s;
  transition-timing-function: ease-out;
}

.list-item:hover {
  font-size: calc(2.45em + 2.45vw);
  color: #ff0066;
}

/* New Arrivals */
.new-arrivals {
  height: auto;
  min-height: 100vh;
  flex-direction: column;
}

/* Product */
.product-container {
  width: 25%;
  transition: transform .15s ease-in-out;
}

.product-container:hover {
  cursor: pointer;
  transform: scale(1.05);
  /* background-color: rgba(255, 255, 255, 0.4); */
}

.products-container {
  margin-top: 50px;
  padding: 0;
  height: auto;
  min-height: 50vh;
  width: 100vw;
  flex-wrap: wrap;
  position: relative;
}

.product {
  width: 80%;
}

.product-description {
  /* background: rgba(217, 180, 207, 0.8); */
  /* background: rgba(184, 169, 180, 0.8); */
  background: rgba(163, 11, 123, 0.7);
  width: 80%;
  height: 40px;
  position: absolute;
  padding-left: 10px;
  color: white;
  font-size: small;
}

.product-price {
  /* background: rgba(74, 73, 77, 0.8); */
  background: rgba(163, 11, 123, 0.7);
  width: 120px;
  height: 70px !important;
  right: 13%;
  top: 82%;
  height: 30px;
  position: absolute;
  font-size: xx-large;
  color: white;
}

.expand-container {
  background: rgba(255, 255, 255, 1);
  border: 1px solid black;
  position: absolute;
  font-size: x-large;
  top: 45%;
  height: 40px;
  width: 120px;
}

@media screen and (max-width: 850px) {
  .product-container {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .product-container {
    flex: 100%;
    max-width: 100%;
  }
} 

/* Team Member Grid */
.team-member-grid {
  height: 100vh;
  width: 100vw;
  background: #f2f2f2;
  display: flex;
  clear: both;
  flex-wrap: wrap;
}

.team-members {
  height: 100vh;
  flex: 3;
  overflow: hidden;
  position: relative;
}

.our-team {
  height: 100vh;
  /* width: 50vw; */
  flex: 2;
  background: black;
}

@media screen and (max-width: 800px) {
  .tester{
    flex: 100%;
    max-width: 100%;
  }
} 

/* Team Member */
.team-member {
  height:  calc(12em + 4vw);
  width:  calc(20em + 4vw);
  margin: 5px;
  /* background: green; */
}

.team-member-description {
  width: calc(11em + 0vw);
  /* background: blueviolet; */
  min-width: 150px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.team-member-image {
  max-height: 100%;
  height: calc(11em + 3vw);
  margin-right: 15px;
}

.team-member-name {
  font-size: large;
  font-weight: 500;
  padding-left: 5px;
  width: min-content;
  min-width: 150px;
}

.team-member-job {
  margin-bottom: 10px;
  font-weight: 400;
  padding-left: 5px;
  width: min-content;
  min-width: 150px;
}

.team-member-link {
  cursor: pointer;
  width: min-content;
  min-width: 150px;
  height: auto;
  min-height: 25px;
  padding-left: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.team-member-link:hover {
  background: rgba(209, 49, 182, 0.7);
}

.team {
  font-family: 'Rajdhani', sans-serif;
  font-size: 8vh;
  margin-top: 80px;
  width: 100%;
}