/* General */
html {
  overflow: scroll;
  overflow-x: hidden;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent;  
}

.App {
  margin: 0;
}

::selection {
  /* background: #ffb7b7; */
  background: rgba(92, 87, 78, 0.5)
}

.no-overflow {
  overflow: hidden !important;
}

.no-overflow-x {
  overflow-x: hidden;
}

.wrap {
  flex-wrap: wrap;
}

.text-link {
  color: #0571e4;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(0.5em + 0.35vw);
  font-weight: 900;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
}

.text-link:hover {
  color: #214E34;
  text-decoration: underline;
  cursor: pointer;
}

.flex {
  display: flex;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.baloo-tamma {
  font-family: 'Baloo Tamma 2', cursive;
}

.full-size {
  width: 100%;
  height: 100%;
}

.full-page {
  width: 100vw;
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.min-height {
  max-height: min-content;
}

.center-text {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.center-horizontal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.center-vertical {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.black {
  background: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.particles {
  padding: 0;
  margin: 0;
  width: 100%;
  height:100vh;
  position: absolute;
  z-index: -1;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.header {
  font-family: 'Rajdhani', sans-serif;
  font-size: calc(3em + 1vw);
  margin-top: 80px;
}


.white {
  color: white;
}

.dark {
  color: black;
  border-bottom: 2px solid black;
  background: white;
}

.dark-no-background {
  color: black;
}

/* ImageMain */
.main-image {
  width: calc(18em + 18vw);
  position: fixed;
  bottom: 0;
  margin: 0;
}

/* Navbar */
.navbar-container {
  position: absolute;
  z-index: 2;
}

.navbar {
  margin: 0;
  height: 10vh;
  position: fixed;
}

.change-language {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  position: absolute;
}

.change-language-container {
  width: 5em;
  position: relative;
  z-index: 3;
  margin-right: 3vw;
}

.change-language-container:hover {
  cursor: pointer;
  /* background:#696969; */
}

.language-image {
  width: 18px;
  margin-right: 5px;
  margin-top: 3.3px;
  position: relative;
  z-index: 2;
}

.select-image {
  width: 16px;
  margin-left: 5px;
  padding-top: 5px;
}

.logo-container {
  margin-right: calc(0.82em + 0.22vw);
  /* padding-left: calc(0.82em + 0.22vw); */
  position: relative;
  font-family: 'Unica One', cursive;
  z-index: 2;
}

.logo {
  font-size: calc(1.5em + 1.5vw);
}

.logo:hover {
  cursor: pointer;
}


.register-container {
  margin: 0;
  position: relative;
  height: 6vh;
  width: calc(3em + 3vw);
  z-index: 2;
}

.register {
  margin-top: 4px;
  font-size: calc(0.82em + 0.22vw);
  cursor: pointer;
  z-index: 2;
}

.register:after {    
  background: none repeat scroll 0 0 transparent;
  position: relative;
  bottom: 0;
  margin-top: 4px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: relative;
  background: #ff0066;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.register:hover:after { 
  width: 100%;
  left: 0;
}

.search-icon {
  cursor: pointer;
  z-index: 2;
}

/* Sidebar */
.sidebar {
  margin: 0;
  position: fixed;
  padding-right: 40px;
  width: 98%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;  
}

.list-item {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(2.3em + 2.3vw);
  color: white;
  cursor: pointer;
  transition: font-size 0.2s;
  transition-timing-function: ease-out;
}

.list-item:hover {
  font-size: calc(2.45em + 2.45vw);
  color: #ff0066;
}

/* New Arrivals */
.new-arrivals {
  height: auto;
  min-height: 88vh;
  flex-direction: column;
}

/* Product */
.product-container {
  width: 25%;
  margin-bottom: 80px;
  position: relative;
  transition: background-color .15s ease-in-out;
}


.product-container:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.product-container:hover > .product {
  opacity: 0.5 !important;
}

.product-container:hover > .expand-container {
  top: 70%;
  opacity: 1;
}

.expand-container {
  background: rgba(255, 255, 255, 1);
  border: 0.5px solid #d4d4d4;
  position: absolute;
  font-size: large;
  top: 75%;
  opacity: 0;
  transition: top .1s ease-in-out, opacity .1s ease-in-out, color .1s ease-in-out, background-color .1s ease-in-out;
  height: 30px;
  width: 250px;
  box-shadow: 0 0 10px 0px white;
}

.expand-container:hover {
  background-color: #3b3b3b;
  color: white;
}

.expand {
  margin-top: 5.5px;
}

.browse-container {
  /* height: 15vh; */
  width: 105vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse-catalog-button {
  background: rgba(255, 255, 255, 1);
  border: 1px solid #d4d4d4;
  position: relative;
  font-size: x-large;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
  height: 50px;
  width: 250px;
  box-shadow: 0 0 10px 0px white;
  margin-bottom: 50px;
  margin-right: 70px;
}

.browse-catalog-button:hover {
  cursor: pointer;
  background-color: #3b3b3b;
  color: white;
}

.product-description {
  /* background: rgba(66, 66, 66, 0.9); */
  width: 90%;
  height: 25px;
  position: absolute;
  padding-left: 10px;
  color: #3b3b3b;
  font-size: x-small;
  top: 100%;
  margin-top: 5px;
}

.product-price {
  /* background: rgba(74, 73, 77, 0.8); */
  background: rgba(163, 11, 123, 0.7);
  width: 120px;
  height: 70px !important;
  right: 13%;
  top: 82%;
  height: 30px;
  position: absolute;
  font-size: xx-large;
  color: white;
}

.products-container {
  margin-top: 50px;
  /* margin-bottom: 20px; */
  padding: 0;
  height: auto;
  min-height: 50vh;
  flex-wrap: wrap;
  position: relative;
}

.product {
  width: 80%;
  transition: opacity .05s ease-in-out;
}


@media screen and (max-width: 850px) {
  .product-container {
    flex: 50%;
    max-width: 50%;
  }
  /* .change-language {
    left: 80vw;
  } */
}

@media screen and (max-width: 600px) {
  .product-container {
    flex: 100%;
    max-width: 100%;
  }
  .change-language {
    opacity: 0;
  }
} 

/* Team Member Grid */
.team-member-grid {
  height: auto;
  min-height: 100vh;
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.team-members {
  height: min-content;
  min-height: 60vh;
  flex: 18;
  margin-bottom: 25px;
}

.grid {
  flex-wrap: wrap;
  height: min-content;
  min-height: 60vh;
}

.team {
  font-family: 'Rajdhani', sans-serif;
  font-size: calc(2.25em + 1vw);
  margin-top: 50px;
  margin-bottom: 40px;
  width: 100%;
}

.our-team {
  min-height: 100vh;
  flex: 7;
  background: black;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.our-team-title {
  font-family: 'Rajdhani', sans-serif;
  font-size: calc(2em + 1vw);
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  color: white;
}

.our-team-descr {
  color: white;
  font-size: 1.1em;
  width: 80%;
}

.our-team-descr-cont {
  width: 100%
}

.our-team-image-container {
  width: 100%;
}

.our-team-image {
  width: 103%;
}

@media screen and (max-width: 8500px) {
  .team-member {
    flex: 30%;
    max-width: 40%;
  }
} 

@media screen and (max-width: 800px) {
  .team-member {
    flex: 50%;
    max-width: 50%;
  }
  .better-for-less {
    margin-left: 0px !important;
  }
  .better-for-less-image {
    right: 0 !important;
  }
  .ethical-labour {
    max-width: 75% !important;
  }
  .better-for-less-text {
    max-width: 75% !important;
    background: rgba(219, 218, 217, 0.4);
  }
  .superb-quality-image {
    height: 75vw !important;
  }
  .superb-quality-text {
    text-align: center !important;
  }
  .superb-quality-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
} 

@media screen and (max-width: 1100px) {
  .mobile{
    flex: 100%;
    max-width: 100%;
  }
  .our-team {
    min-height: min-content;
    height: min-content;
    padding-bottom: 50px;
  }
  .team-member {
    margin-bottom: 35px !important;
  }
} 

/* Team Member */
.team-member {
  height:  calc(12em + 4vw);
  width:  calc(20em + 4vw);
  margin: 5px;
  position: relative;
  /* background: slateblue; */
}

.team-member-description {
  width: 10em;
  min-width: 150px;
  margin-bottom: 5px;
  padding-left: 5px;
  font-weight: 300;
}

.team-member-image {
  max-height: 100%;
  height: calc(11em + 3vw);
  margin-right: 15px;
}

.team-member-name {
  font-size: large;
  font-weight: 500;
  padding-left: 5px;
  width: min-content;
  min-width: 150px;
}

.team-member-job {
  margin-bottom: 7px;
  font-weight: 400;
  padding-left: 5px;
  width: min-content;
  min-width: 160px;
}

.team-member-link {
  cursor: pointer;
  color: black;
  width: 100px;
  height: auto;
  min-height: 25px;
  padding-left: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #f2f2f2;
  transition: background .2s ease-in-out, color .08s ease-in-out, width .1s ease-in-out;
}

.team-member-link:hover {
  width: 90%;
  color: white;
  opacity: 1;
  background: #3b3b3b;
}

/* Footer  */
.footer-container {
  height: auto;
  min-height: 50vh;
  margin-top: 50px;
  position: relative;
}

.footer {
  width: 85vw;
  background: #f2f2f2;
  min-height: 45vh;
  border: 0.5px solid #a5a4a4;
  position: relative;
  flex-wrap: wrap;
  padding-top: 10px;
  margin-bottom: 20px;
}

.footer-group {
  display: inline-block !important;
  min-width: 150px;
  margin: 20px;
  /* background: seagreen; */
}

.footer-title {
  font-size: medium;
  color: black;
  font-weight: 600;
}

.footer-option {
  font-size: medium;
  color: #6b6868;
  font-weight: 500;
  transition: color 0.15s ease-in-out;
}

.footer-option:hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .footer-group {
    flex: 33%;
    max-width: 33%;
  }
  .membership-benefits-left, .membership-benefits-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 100% !important;
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .shtuffers {
    width: 290px !important;
  }
  .shtuffer {
    text-align: center;
  }
  .membership-quit {
    margin-top: 40px;
  }
}

/* Our Brand */
.our-brand-title {
  max-height: min-content;
  font-size: calc(1.20em + 1.35vw);
  margin-bottom: 0;
}

.our-brand-text {
  color: #494949;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: calc(0.95em + 0.10vw);
  margin-top: 0;
  max-width: 85%;
}

.our-brand-border {
  border-top: 1px solid #E4BB97;
  width: 80vw;
}

.learn-more-text {
  position: relative;
  z-index: 2;
  min-height: min-content;
  height: min-content;
  padding-left: 20px;
  padding-bottom: 35px;
}

/* Ethical Labour */
.ethical-labour {
  max-width: 50%;
  background: rgba(219, 218, 217, 0.67);
  /* margin-right: 50px; */
}

/* Better for less */
.better-for-less {
  margin-left: 165px;
}

.better-for-less-text {
  max-width: 35%;
}

.better-for-less-image {
  position: absolute;
  height: 85vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: calc(5em + 15vw);
  top: 90px;
}

/* Superb Quality */
.superb-quality-image {
  height: 45vw;
}

.superb-quality-container {
  margin-top: 10vh;
  flex-wrap: wrap;
}

.superb-quality-text {
  max-width: 500px;
  margin-bottom: 25px;
  margin-left: 5px;
}

.superb-quality {
  margin-left: 5px;
  /* background: salmon; */
}

.brighter-colors-image {
  height: 200vh;
}
.superb-quality-button {
  width: 100%;
}

/* Membership Choices */
.membership-image-container {
  height: 50vh;
  position: relative;
}

.membership-image {
  height: auto;
  position: absolute;
}

.membership-title {
  font-family: 'Rajdhani', sans-serif;
  font-size: calc(3em + 5vw);
  font-weight: 500;
  color: white;
  margin-left: 3vw;
}

.membership-intro {
  height: auto;
  padding-bottom: 30px;
}

.membership-intro-box {
  margin-top: 60px;
}

.membership-intro-title {
  font-size: calc(1.00em + 1.15vw);
  font-style: italic;
}

.style {
  color: #cf125e;
  font-weight: 500;
}

.membership-options-container {
  height: auto;
  flex-wrap: wrap;
}

.membership-option {
  margin: 20px;
  margin-top: 30px;
  height: 430px;
  width: 290px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 7px 7px;
  transition: box-shadow 0.08s ease-in-out, transform 0.08s ease-in-out;
}

.membership-option:hover {
  cursor: pointer;
  box-shadow: 3px 3px;
  transform: translate(3px, 0)  
}

.membership-option:hover .basic {
  background-color: #ace7ff;
}
.membership-option:hover .premium {
  background-color: #9ffdbe;
}
.membership-option:hover .gold {
  background-color: #fde39b;
}

.membership-option-title {
  width: 100%;
  font-size: xx-large;
  font-style: italic;
  margin: 0;
  height: min-content;
}

.membership-list {
  line-height: 27px;
  font-size: medium;
  color: #6b6868;
  margin-top: 20px;
  margin-bottom: 20px;
}

.membership-option-price {
  width: 100%;
  font-size: large;
  font-style: italic;
  margin: 0;
  height: min-content;
}

.front {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.membership-back-title {
  font-size: 1.25em;
  font-weight: 500;
}

.membership-back-button {
  background: rgba(255, 255, 255, 1);
  border: 1px solid black;
  box-shadow: 1px 1px;
  position: relative;
  font-size: large;
  transition: color .1s ease-in-out, background-color .1s ease-in-out;
  height: 30px;
  width: 150px;
  margin-top: 10px;
  padding-top: 4px;
}

.membership-back-button:hover {
  cursor: pointer;
  background-color: #3b3b3b;
  color: white;
  box-shadow: 0px 0px;
}

/* Membership Benefits */
.membership-benefits {
  width: 900px;
  position: relative;
}

.membership-benefits-title {
  font-size: 1.65em;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  color: #525050;
}

.membership-benefits-left {
  flex: 1;
  height: min-content;
  margin-right: 20px;
  width: 450px;
  position: relative;
}

.membership-benefits-right {
  flex: 1;
  min-height: 368.5px;
  height: min-content;
  margin-left: 20px;
  width: 450px;
  position: relative;
}

.quit-free-subheading {
  max-width: 450px;
}

.membership-fine-print {
  margin-top: 50px;
  font-size: small;
  color: #525050;
  max-width: 700px;
}

/* Membership Benefit */
.membership-benefit {
  width: 100%;
  margin-top: 38px;
  margin-bottom: 38px;
}

.membership-benefit-title {
  font-size: 1.4em;
  font-weight: 600;
}

.membership-benefit-subtitle {
  font-size: 0.85em;
  font-style: italic;
  color: #494949;
}

.membership-benefit-icon {
  margin-right: 10px;
}